@import "./common";
@import "./components/header";
@import "./components/aside";
@import "./components/main";
html {
  font-size: 10px;

  @media (max-width: 460px) {
    font-size: 8px;
  }
}

body {
  height: 200vh;
  @extend %font-main-regular;
}

.container {
  padding: 0 5rem;

  @media (max-width: 1240px) {
    padding: 0 1rem;
  }
}
